.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    max-width: 100%;
    margin: auto;
  
    .about-text {
      flex-basis: 50%;
  
      .about-title {
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(24, 22, 22);
        padding: 15px 0;
        .property {
          color: #672ae9;
        }
      }
  
      .about-description {
        font-size: 25px;
        margin: 10px 0;
        color: #8e8d8d;
        padding: 10px 0;
      }
  
      .contact-button {
        background: none;
        border: 2px solid #672ae9;
        padding: 10px 20px;
        background-color: #672ae9;
        font-size: 26px;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 10px;
  
        &:hover {
          background: #fff;
          color: #672ae9;
        }
      }
    }
  
    .about-image {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 3px solid #00bcd4;
      }
    }
  
    // Responsive styles
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 20px;
  
      .about-text {
        flex-basis: 100%;
        text-align: center;
        .about-title {
          font-size: 40px;
        }
  
        .about-description {
          font-size: 20px;
        }
  
        .contact-button {
          font-size: 22px;
        }
      }
  
      .about-image {
        flex-basis: 100%;
        margin-top: 20px;
  
        img {
          width: 80%;
          object-fit: contain;
        }
      }
    }
  
    @media screen and (max-width: 480px) {
      .about-text .about-title {
        font-size: 35px;
      }
  
      .about-text .about-description {
        font-size: 18px;
      }
  
      .about-text .contact-button {
        font-size: 20px;
      }
    }
  }
  